/* Colors */
$macaroon: rgb(198, 73, 98);
$lemon: rgba(216, 221, 58, 0.6);
$light-gray: rgba(128, 128, 128, 0.6);
$button-pink: rgba(140, 55, 82, 0.956863);
$button-hover-pink: rgba(184, 71, 107, 0.956863);
$input-pink: #d9a4b4;
$error-pink: #fee8e5;

/* Device-targeted breakpoints */
$sm_phone: "all and (max-width: 450px)";
$phone: "all and (max-width: 768px)";
$tablet: "all and (max-width: 1023px)";
$desktop: "all and (min-width: 1024px)";
body{
    font-family: 'Source Sans Pro', sans-serif;
    overflow: visible !important;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 300;line-height: 17.5px;
    margin-bottom: 5px;
    @media #{$tablet} {
        font-size: 25px;
    }
}
h2{
    font-weight: 600;
    font-size: 17.5px;
    letter-spacing: 4px;
}
h3{
    font-size: 15px;
    text-transform: uppercase;
}
h4, h5, li{
    color: #252038;
}
p{
    font-size: 12.5px;
}

/* NAVBAR */
.navbar {
    display: none;   
}
#navbar-social{
    float: right;
    position: relative;
    top: -15px;
}
#navbar-social > a > i{
    float: left;
    margin: 0px 10px;
    font-size: 30px;
}
#header-wrapper{
    z-index: 10;
}
/* MLH Wrapper */
#MLH_banner_wrapper {
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 25%;
    @media #{$tablet}{
        left: 5%;
    }
    img {
        width: 75px;
        @media #{$phone}{
            width: 75px;
        }
        @media #{$sm_phone}{
            width: 50px;
        }
    }
}

/* App Dealine */
/*#app-end {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    #app-end-content {
        color: $button-pink;
        margin-top: 50px;
        font-size: 15px;
        @media all and (max-width: 400px){
            font-size: 10px;
            margin-top: 30px;
        }
    }
}*/

/* COUNTER */
#archhacks-countdown-wrapper{
    display: none;
    z-index: 1;
    height: 50px;
    position: absolute;
    width: 230px;
    left: 60%;
    padding: 20px;
    background-color: white;
    @media #{$tablet}{
        display: none;
    }
    -webkit-box-shadow: 1px 1px 4px -1px rgba(176,176,176,1);
    -moz-box-shadow: 1px 1px 4px -1px rgba(176,176,176,1);
    box-shadow: 1px 1px 4px -1px rgba(176,176,176,1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#archhacks-countdown{
    height: 40px;
    font-size: 25px;
    font-weight: 600;
}
.countdown-section{
    width: 25%;
    float: left;
}
.countdown-section-val {
    width: 90%;
    float: left;
    text-align: center;
}
.countdown-divider {
    width: 10%;
    float: left;
}

#archhacks-countdown-title{
    text-align: center;
    margin-top: 5px;
    margin-left: -10px;
}
/* TOP PANE */
#welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background: url(../images/welcome-pane-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    #welcome-image-wrapper {
        width: 75vh;
        min-width: 300px;
        padding-top: 10%;
        margin: 0px auto;
        height: 40vh;
        @media #{$tablet}{
            width: 80%;
            min-width: 0px;
        }
        #welcome-logo {
            background: url(../images/archhackslogo-title-date.png) no-repeat center center; 
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            width: 100%;
            height: 100%;
            position: relative;
            @media #{$tablet}{
                background: url(../images/archhackslogo-title.png) no-repeat center center; 
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                width: 250px;
                margin: 10px auto;
            }
        }
    }
    #welcome-mission {
        margin-top: 8vh;
        text-align: center;
        line-height: 1.5;
        font-size: 17.5px !important;
        text-transform: uppercase;
        @media #{$tablet} {
            font-weight: normal;
        }
    }
    #volunteer-data-vis-jump{
        text-align: center;
        font-size: 16px;
        color: lightgray;
        margin-top: 50px;
        @media #{$tablet} {
            margin-top: 20px;
        }
        #welcome-volunteerjump, #data-vis-jump {
            margin-left: 10px;
            margin-right: 10px;
            background-color: rgba(140, 55, 82, 0.956863);
            color: white;
            padding: 20px 32px;
            font-weight: 600;
            letter-spacing: 4px;
            text-transform: uppercase;
            border: $light-gray;
            @media #{$tablet} {
                margin-top: 10px;
            }
            &:hover{
                background-color: rgba(184, 71, 107, 0.956863);
                cursor: pointer;
            }
            &:focus {
                outline:0;
            }
        }
    }
    #mobile-welcome-jump{
        margin-top: 5vh;
        @media #{$tablet} {
            display: block;
        }
        #mobile-welcome-jump-button {
            width: 50%;
            text-align: center;
            font-size: 24px;
            color: lightgray;
            transform: scale(2, 1);
            -webkit-transform: scale(2, 1);
            padding-left: 16.6666666666666%;
        }
    }
}

/* App Jump */
.app-jump-pane {
    background: url(../images/bauer_background.jpg) no-repeat center center;
    background-color: gray;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    color: white;
    text-align: center;
    .app-jump-header {
        text-align: center;
        padding-top: 50px;
        letter-spacing: 4px;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 50px;
        img {
            height: 30px;
            vertical-align: bottom;
        }
    }
    a {
        text-decoration: none;
        margin: 0 auto 50px auto;
        display: inline-block;
        div {
            width: 300px;
            background-color: $button-pink;
            color: white;
            padding: 20px 32px;
            font-weight: 600;
            letter-spacing: 4px;
            text-transform: uppercase;
            border: $light-gray;
            text-align: center;
            @media #{$phone}{
                letter-spacing: 4px;
                font-size: 14px;
                width: 220px;
            }
            &:hover {
                background-color: $button-hover-pink;
            }
        }
    }
}

/* HEADER BAR */
#header-condensed-welcome {
    height: 5vh;
}
#header-condensed-welcome > img {
    height: 50px;
    float: left;
    position: relative;
    top: 10px;
    left: 25px;
}
#header-welcome-title {
    color: gray;
    font-weight: 100;
    letter-spacing: 4px;
    word-spacing: -10px;
    width: 25%;
    margin: 27.5px 5vw;
    left: 75px;
    position: absolute;
    top: 0px;
}
.fixed-header {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100vw;
    height: 71px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}
.hidden-header, .hidden-stickynav {
    display: none;
}
#header-welcome-title > span {
    color: rgb(198, 73, 98);
}
.page-header {
    height: 50vh;
    min-height: 400px;
    z-index: 1;
    position: relative;
    background-position-x: 0px;
    @media #{$tablet} {
        height: 20vh !important;
        min-height: 100px !important;
        &:hover {
            cursor: pointer;
        }
    }
}
#about-page-header{
    background: url(../images/About.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page-header-shapes{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 40%;
    background: url(../images/pattern.png) no-repeat center bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 2;
    @media #{$tablet} {
        display: none;
    }
}
.page-title {
    padding-top: 27vh;
    margin-top: 0px;
    color: white;
    letter-spacing: 4px;
    text-align: center;
    font-size: 50px;
    @media #{$tablet} {
        padding-top: 8vh;
        font-size: 25px;
    }
}
.homepage-pane {
    padding-top: 0px;
    padding-bottom: 10vh;
    min-height: 500px;
    height: auto !important;
    min-height: 560px;
    @media #{$tablet} {
        height: auto !important;
        //display: none;
    }
}

/* SCHEDULE PANE */
#schedule-page-header {
    background: url(../images/Schedule.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#schedule-pane {
    width: 100%;
    @media #{$desktop}{
        width: calc(95% - 300px);
        margin-left: 250px;
    }
    .schedule-content {
        @media #{$desktop}{
            margin-left: 0 !important;
            width: 100%;
        }
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        .schedule-pane-title {
            width: 100%;
            text-align: center;
            font-weight: 600;
            margin-top: 5vh;
        }
        .schedule-day {
            width: 100%;
            margin-top: 5vh;
            .schedule-day-header {
                margin-bottom: 2.5vh;
                width: 100%;
                @media #{$phone}{
                    text-align: center;
                }
            }
            .day-events {
                width: 100%;
                list-style: none;
                .event {
                    &:hover {
                        cursor: pointer;
                    }
                    margin: 5px 0;
                    width: 100%;
                    @media #{$phone}{
                        >span {
                            width: 100% !important;
                            text-align: center;
                        }
                        > span:not(.category) {
                            display: block !important;
                        }
                        > span.category {
                            .cat-dot {
                                display: inline-block;
                            }
                        }
                    }
                    .category {
                        display: inline-block;
                        width: 5%;
                        .cat-dot {
                            display: block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50px;
                        }
                    }
                    .General {
                        .cat-dot {
                            background-color: green;
                        }
                    }
                    .Food {
                        .cat-dot {
                            background-color: orange;
                        }
                    }
                    .Workshop {
                        .cat-dot {
                            background-color: blue;
                        }
                    }
                    .Fun {
                        .cat-dot {
                            background-color: $button-pink;
                        }
                    }
                    .event-time {
                        display: inline-block;
                        width: 26.8%;
                        color: $button-pink;
                    }
                    .event-name {
                        display: inline-block;
                        width: 36.8%;
                        font-weight: 600;
                    }
                    .event-location {
                        display: inline-block;
                        width: 26.8%;
                    }
                    .event-description {
                        color: white;
                        background-color: $button-pink;
                        border-radius: 10px;
                        width: 100%;
                        height: auto;
                        @media #{$phone}{
                            text-align: center;
                        }
                        p {
                            width: 98%;
                            margin: 10px 1%;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        #schedule-key {
            margin-top: 5vh;
            text-align: center;
            > div {
                text-align: center;
                > p {
                    width: 12%;
                    display: inline-block;
                     @media #{$phone}{
                        width: 25%;
                    }
                }
                > span {
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    display: inline-block;
                }
            }
            hr {
                margin-top: 0px;
                width: 50%;
                margin-left: 25%;
                margin-right: 25%;
            }
            .General {
                .cat-dot {
                    background-color: green;
                }
            }
            .Food {
                .cat-dot {
                    background-color: orange;
                }
            }
            .Workshop {
                .cat-dot {
                    background-color: blue;
                }
            }
            .Fun {
                .cat-dot {
                    background-color: $button-pink;
                }
            }
        }
    }
}

/* ABOUT PANE */
#about-page {
    padding-top: 5vh;
    padding-bottom: 10vh;
    min-height: 500px;
    height: 90vh;
    text-align: left;
    vertical-align: top;
    h4 {
        font-size: 1.3em;
        text-transform: uppercase;
    }
}
#about-content{
    @media #{$tablet}{
        width: 100% !important;
    }
    @media #{$phone}{
        width: 100% !important;
    }
}

#about-main-content,
#about-health-tech{
    @media #{$phone}{
        width: 90%;
        margin: 0px 5% !important;
    }
    h2{
        font-size: 17.5px !important;
        @media #{$tablet}{
            margin-left: 10%;
        }
        @media #{$phone}{
            margin-left: 0 !important;
        }
        &:nth-of-type(1){
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }

}
#about-main-content{
    h2{
        margin-left: 0px;
        @media #{$tablet}{
            margin-left: 10%;
        }
    }
}

#about-main-text{
    margin-left: 0px;
}
#about-health-tech-text,
#about-main-text {
    width: 80%;
    line-height: 1.9;
    @media #{$tablet}{
        margin-left: 10%;
    }
    @media #{$phone}{
        width: 100%;
        margin-left: 0px;
    }
}
#about-email{
    text-align: center;
    width: 90%;
    margin: 40px 5% 0 5%;
}
.about-email-link {
    text-decoration: none;
    &:hover {
        color: gray;
    }
}

/* PANE SUBNAVS */
.pane-nav-wrapper {
    width: 100%;
}
.pane-nav {
    width: 100%;
    margin-top: 30px;
    margin-left: 10% !important;
    margin-right: 10% !important;
    @media #{$desktop} {
        display: block;
        margin-left: 250px !important;
        width: calc(100% - 300px);
    }
    @media #{$tablet} {
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    &-click {
        width: calc(23.8% - 20px) !important;
        @media #{$tablet} {
            width: 37% !important;
            &:nth-of-type(2n+1){
                margin-left: 0px;
            }
            &:nth-of-type(n+3){

            }
        }
        @media #{$phone} {
            width: 37% !important;
            &:nth-of-type(2n+1){
                margin-left: 0px;
            }
            &:nth-of-type(n+3){

            }
        }
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;
        transform: .2s ease-in all;
        font-size: 1.3em;
    }
}

.pane-content {
    width: 90%;
    margin: 0px 5%;
    line-height: 1.7;
    @media #{$desktop} {
        width: calc(100% - 300px);
        margin-left: 250px !important;
        padding: 0px;
    }
}

/* APPLY */
#typeform-temp-header, #typeform-temp-second{
    text-align: center;
}
.apply-content{
    height: 100%;
    @media #{$desktop} {
        margin-left: 40px !important;
        width: calc(100% - 40px);
    }
    .application-waitlist-title {
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
        text-align: center;
        margin-top: 50px;
        @media #{$tablet} {
            width: 90%;
            margin-left: 5%;
        }
    }
}
#apply-page-header{
    background: url(../images/Apply.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.apply-label {
    text-transform: uppercase;
}
.apply-text-input {
    padding: 5px;
    border: 1px solid black;
}
.apply-column {
    display: inline-block;
    vertical-align: top;
    width: 80vw;
    @media #{$desktop} {
        width: 30vw;
    }
}
.apply-button-wrapper {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
.apply-button {
    background-color: #9A9A9A;
    color: black;
    padding: 20px 40px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: $light-gray;
    margin-top: 20px;
    &:hover {
        background-color: gray;
    }
}
#apply-pane {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 500px;
    height: 100vh;
}
.typeform-widget >  div{
    min-height: 100vh;
    iframe{
        min-height: 100vh;
    }
}

/* Sponsor */
#sponsor-pane{
    margin-top: 10vh;
}
#sponsor-page-header{
    background: url(../images/sponsor.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#sponsor-pane-contact{
    margin-top: 20px;
}
.sponsor-email-link {
    text-decoration: none;
    &:hover {
        color: gray;
    }
}
.sponsor-content{
    margin-top: 40px;
}
#our-sponsors{
    margin-top: 40px;
    h2{
        margin-bottom: 40px;
    }
}
.sponsor-lead, .sponsor-line{
    width: 100%;
}
.sponsor-lead {
    width: 90%;
    text-align: center;
    img{
        width: 80%;
    }
}
.second-tier{
    div{
        float: left;
        width: 49.2% !important;
        text-align: center;
    }
    #centene-logo{
        img{
            margin-top: 10%;
            width: 70%;
        }
    }
    #pfizer-logo{
        img{
            width: 60% !important;
        }
    }
}
.third-tier{
    margin: 40px 0% !important;
    @media #{$tablet} {
        margin: 10px 0% !important;
    }
    width: 100%;
    div{
        float: left;
        width: 32.8% !important;
        text-align: center;
        img{
            width: 75%;
        }
    }
    #red-card-logo {
        img {
            padding-top: 5%;
        }
    }
    #lumeris-logo{
        img{
            width: 80%;
            padding-top: 5%;
        }
    }
    #att-logo {
        img {
            width: 60%;
        }
    }
    #siemens-logo {
        img {
            padding-top: 8%;
        }
    }
    #google-logo {
        img {
            margin-top: 10px;
        }
    }
    #cisco-logo {
        img {
            width: 60%;
        }
    }
    #true-ventures-logo {
        img {
            margin-top: 10%;
        }
    }
}
.fourth-tier{
    margin: 20px 0% !important;
    width: 100%;
    div{
        float: left;
        width: 18.8% !important;
        text-align: center;
        img{
            width: 50%;
        }
    }
    #staff-joy-logo {
        img {
            margin-top: 10%;
        }
    }
    #arch-grants-logo{
        img{
            padding-top: 10px;
            @media (max-width: 600px) {
                padding-top: 0px;
            }
        }
    }
    #panera-logo {
        img {
            width: 35%;
        }
    }
    #su-logo {
        img {
            padding-top: 8%;
        }
    }
    #wolfram-logo {
        img {
            width: 50%;
        }
    }
    #pi-pizza-logo{
        img{
            width: 35%;
        }
    }
    #hta-logo {
        img {
            width: 70%;
        }
    }
    #seoul-taco-logo{
        img{
            width: 50%;
        }
    }
    #kind-logo {
        img {
            width: 40%;
        }
    }
    #meditation-lounge-logo {
        img {
            width: 80%;
        }
    }
    #casa-bagus-logo {
        img {
            width: 30%;
        }
    }
    #house-of-india-logo {
        img {
            width: 40%;
        }
    }
}
/* Our Team */
#team-pane{
    height: auto;
    min-height: 100% !important;
    margin-top: 5vh;
}
.team-content{
    height: auto;
    min-height: 100% !important;
    @media #{$tablet} {
        margin: 0px 5%;
        width: 90%;
    }
    //@media #{$phone} {
    //    margin: 0px 0px;
    //    width: 96%;
    //    padding: 0px 10px;
    //}
}
.team-row{
    text-align: left;
    margin: 10px auto !important;
}
.team-row .team-profile:first-child > * {
    padding-left: 0px;
    @media #{$phone} {
        padding-left: 10%;
    }
}
.team-section-header{
    margin-top: 40px;
    text-align: left;
    font-size: 20px;
}
#team-page-header{
    //@media #{$tablet} {
        background: url(../images/Team.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    //}
}
.team-image-wrapper{
    width: 150px;
    overflow: hidden;
    margin: 25px auto 10px 0px;
    @media (max-width: 480px){
        margin: 25px auto 10px auto;
    }
}
.team-image-wrapper > img{
    width: 100%;
    border-radius: 100%;
    @media (max-width: 700px){
        width: 75%;
    }
    @media (max-width: 600px){
        width: 65%;
    }
    @media (max-width: 480px){
        width: 100%;
    }
}
.team-name{
    font-size: 17.5px;
    line-height: 17.5px;
    color: #c74761;
    letter-spacing: 4px;
    font-weight: 600;
    @media (max-width: 480px){
        text-align: center;
    }
}
.team-image-wrapper, .team-info, .team-position, .team-name {
    padding-left: 10%;
    padding-right: 10%;
}
.team-info, .team-position, .team-name {
    width: 80% !important;
}
.team-position, .team-sd{
    font-size: 17.5px !important;
    font-weight: normal;
    line-height: 17.5px;
    margin-bottom: 5px;
    text-align: left;
    @media (max-width: 480px){
        text-align: center;
    }
}
.team-position {
    font-style: italic;
}
.team-info {
    list-style: none;
    display: block;
    .team-info-bit:nth-of-type(n+2){
        display: none;
    }
}

.team-info-bit{
    margin-top: 15px;
    line-height: 16px;
    font-size: 11px;
    text-align: left;
    @media (max-width: 480px){
        text-align: center;
    }
}
.team-info-bit-header{
    font-size: 15px;
}
.team-ht{
    font-size: 11px;
}
.team-sd{
    margin-top: 0px;
}
/* FAQ */
#faq-pane{
    margin-top: 4vh;
    @media #{$tablet} {
        margin-top: 0px;
    }
}
#faq-page-header{
    //@media #{$tablet} {
        background: url(../images/FAQ.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    //}
}
.faq-bold{
    //font-weight: bold;
    background-color: rgba(184, 71, 107, 0.956863) !important;
}
#faq-pane > .pane-nav-wrapper > div {
    margin-top: 20px;
    width: calc(98% - 275px);
    @media #{$tablet} {
        width: 100%;
        margin-left: 0% !important;
        margin-right: 0% !important;
        margin-top: 0px;
    }
}
.faq-pane{
    margin-top: calc(4vh - 10px);
    @media #{$tablet} {
        margin-top: 70px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.faq-click{
    text-align: center;
    background-color: rgba(140, 55, 82, 0.956863);
    color: white;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: $light-gray;
    margin: 0px !important;
    width: 33.3333333% !important;
    font-size: 17.5px !important;
    font-weight: 600 !important;
    &:hover{
        background-color: rgba(184, 71, 107, 0.956863);
    }
    @media #{$tablet} {
        height: 10vh;
        padding-top: 7vh;
        padding-bottom: 0px;
    }
    @media #{$phone} {
        width: 50% !important;
        &.faq-logistics-click{
            width: 100% !important;
        }
    }
}
.faq-section{
    //border: 1px solid gray;
    margin-bottom: 20px;
    h2{
        padding-top: 0px;
    }
}
#faq-map-section{
    .faq-pair-wrapper{
        @media #{$desktop} {
            width: 50%;
            float: left;
        }
    }
}
#faq-bauer-map{
    height: 400px;
    @media #{$tablet} {
        display: none;
    }
}
.faq-section-question{
    text-align: left;
    //background-color: rgba(140, 55, 82, 0.956863);
    //color: rgb(231, 194, 205);
    padding: 20px 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: $light-gray;
    //cursor: pointer;
    &:hover{
        //background-color: rgba(184, 71, 107, 0.956863);
    }
}

.faq-section-answer{
    background-color: white;
    color: black;
}
.faq-section-answer, .faq-section-question{
    padding: 10px 0;
}
#faq-email{
    text-align: left;
    margin-left: 250px;
    @media #{$tablet} {
        margin-left: 5%;
    }
}
.faq-email-link {
    text-decoration: none;
    &:hover {
        color: gray;
    }
}

/* Footer */
footer {
    background: #b2405b !important;
    padding: 30px 0px !important;
    color: white;
    text-align: left;
}
.footer-content{
    width: calc(95% - 300px);
    margin-left: 250px !important;
    margin-right: 5%;
    @media #{$tablet} {
        width: 90%;
        margin: 0px 5% !important;
    }
    @media #{$phone} {
        width: 90%;
        margin: 0px 5% !important;
    }
}
.footer-col1{
    @media (max-width: 480px){
        display: none !important;
    }
}
.footer-col1 > div{
    @media (max-width: 480px){
        margin-left: 0px;
        text-align: center;
    }
}
.footer-col2{
    text-align: center;
    #footer-social{
        width: 100%;
        text-align: center;
    }
    i{
        font-size: 40px;
        color: white;
        margin-right: 5px;
        &:hover{
            color: gray;
        }
    }
}
.footer-click {
    text-transform: uppercase;
}
#footer-logo{
    cursor: pointer;
    width: 70%;
    max-width: 300px;
    float: right;
    @media (max-width: 480px){
        width: 40%;
        margin-left: 30%;
        margin-top: 50px;
        float: none;
    }
}
.footer-email-link {
    color: white;
    text-decoration: none;
    &:hover {
        color: gray;
    }
}
.footer-click {
    cursor: pointer;
    &:hover {
        //color: gray;
        zoom: 1.1;
    }
}
/* Sticky nav */
#sticky-button-about, #sticky-line-text-about, 
#sticky-button-apply, #sticky-line-text-apply,
#sticky-button-schedule, #sticky-line-text-schedule, 
#sticky-button-sponsor, #sticky-line-text-sponsor, 
#sticky-button-team, #sticky-line-text-team,
#sticky-button-faq, #sticky-line-text-faq{
    &:hover{
        cursor: pointer;
        zoom: 1.02;
    }
}
.stickybar-logo:hover{
    cursor: pointer;
}
.stickybar-wrapper {
    width: 150px;
    position: fixed;
    top: 100px;
    left: 0px;
    padding: 10px;
    background-color: white;
    img {
        width: calc(100% - 40px);
        padding: 20px;
        padding-left: 25px;
    }
    -webkit-box-shadow: 1px 1px 4px -1px rgba(176,176,176,1);
    -moz-box-shadow: 1px 1px 4px -1px rgba(176,176,176,1);
    box-shadow: 1px 1px 4px -1px rgba(176,176,176,1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 5;
    @media #{$tablet}{
        display: none;
    }
}
.sticky-button {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #BBB;
    margin-right: 20px;
    display: inline-block;
}
.filled-button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af425b+0,693048+100 */
    background: #af425b; /* Old browsers */
    background: -moz-linear-gradient(left,  #af425b 0%, #693048 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #af425b 0%,#693048 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #af425b 0%,#693048 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af425b', endColorstr='#693048',GradientType=1 ); /* IE6-9 */

}
.stickybar-logo {
    display: block;
}
.stickybar-line{
    margin-bottom: 10px;
    width: 90%;
    margin-left: 15px;
}
.sticky-line-text{
    position: relative;
    top: -20px;
    left: 35px;
    font-size: 17.5px;
}
