{% extends "app_home.html" %}

{% block title %}
Change Password
{% endblock %}

{% block body_class %}change_password{% endblock %}

{% block app_home_link %}/profile{% endblock app_home_link %}

{% block form_content %}
	<h2 class="change-pass-header">Change Your Password</h2>
	<div class="change-password-form">
	{% for message in form.new_pass.errors %}
	  <div class="flash">{{ message }}</div>
	{% endfor %}
	 
	{% for message in form.old_pass.errors %}
	  <div class="flash">{{ message }}</div>
	{% endfor %}
	 
	<form action="{{ url_for('change_password') }}" method=post>
	  {{ form.hidden_tag() }}
	   
	  <div class="label-wrapper">{{ form.old_pass.label }}</div>
	  {{ form.old_pass }}
	   
	  <div class="label-wrapper">{{ form.new_pass.label }}</div>
	  {{ form.new_pass }}
	   
	  {{ form.submit }}
	</form>
	</div>
     
{% endblock form_content %}