{% extends "app_home.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block body_class %}forgot_password{% endblock %}

{% block app_home_link %}/app_home{% endblock app_home_link %}

{% block form_content %}
	<h2 class="forgot-password-header">Reset Your Password</h2>
	{% if email %}
	<p class="forgot-password-email-sent">If your email ({{email}}) exists, you should receive a temporary password shortly.</p>
	{% else %}
	<div class="forgot-password-form">
	{% for message in form.email.errors %}
	  <div class="flash">{{ message }}</div>
	{% endfor %}
	
		<form action="{{ url_for('forgot_password') }}" method=post>
		  {{ form.hidden_tag() }}
		   
		  <div class="label-wrapper">{{ form.email.label }}</div>
		  {{ form.email }}
		   
		  {{ form.submit }}
		</form>
	</div>
	{% endif %}
     
{% endblock form_content %}